button{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  transition: 0.5s;
  border-radius: 5px !important;
}
.main-btn {
  background: var(--main-color);
  color: var(--light-color);
  border: 2px solid var(--main-color);
  &:hover {
    background: var(--white-color);
    color: var(--main-color);
  }
}
.dark-btn {
  background: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--dark-color);
  &:hover {
    background: var(--white-color);
    color: var(--dark-color);
  }
}
.delete-btn {
  background: var(--delete-color);
  color: var(--light-color);
  border: 2px solid var(--delete-color);
  &:hover {
    background: var(--white-color);
    color: var(--delete-color);
  }
}
